*{
	margin:0;
	padding:0;
	font-family: Times New Roman, serif;
}
.hero1{
	height:100%;
	width:100%;
	background: -webkit-linear-gradient(left, #25c481, #25b7c4);
     background: linear-gradient(to right, #25c481, #25b7c4);
     background-position:center;
     background-size:cover;
     position:absolute;
}
.form-box2{
	width:380px;
	height:480px;
	position:relative;
	margin:6% auto;
	background:#fff;
	padding:5px;
	overflow:hidden;

	 
}